/.smex-items
/ac-comphist.dat
/auto-save-list
/backups
/places
/url
*elc
/elpa/archives/*

/eshell/history
/eshell/lastdir
/sahglie
/runner
/custom_configs/evernote.el
/elpa/enh-ruby-mode-20140123.1442/enh-ruby-mode-autoloads.el
/elpa/enh-ruby-mode-20140123.1442/enh-ruby-mode-pkg.el
/elpa/enh-ruby-mode-20140123.1442/enh-ruby-mode.el
/elpa/enh-ruby-mode-20140123.1442/ruby/erm.rb
/elpa/enh-ruby-mode-20140123.1442/ruby/erm_buffer.rb
/elpa/powerline-20131126.1817/powerline-autoloads.el
/elpa/powerline-20131126.1817/powerline-pkg.el
/elpa/powerline-20131126.1817/powerline-separators.el
/elpa/powerline-20131126.1817/powerline-themes.el
/elpa/powerline-20131126.1817/powerline.el
/vendor/evernote/#evernote-mode.el#
/vendor/evernote/.#evernote-mode.el
/vendor/evernote/evernote-mode.el
